<!-- <p [(ngModel)] = currentPlaylist.name name = 'current'>
  
</p> -->
<button (click) = 'showNewPlayistId()'>New playlist</button>
<!-- <iframe src= {{playlistLink}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
<!-- <p>
  {{current}}
</p> -->
<!-- <iframe src= 'https://open.spotify.com/embed/user/1244653463/playlist/7sStwRbTGePw8Lo6OZxlY9' width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
<!-- <p>{{currentPlaylist.name}}</p> -->
<!-- <input type='text' [(ngModel)]='name' name='name'> -->
<!-- <p>'{{curply}}'</p> -->
<iframe [src]=  cleanUrl() width ="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>